{% extends './base.html' %}

{% block content %}
  <div class="dashboard container">
    <div class="student-info">
      <h1 class="details-title">Student details</h1>
      <hr>
      <img src="{{ student.image.url }}" alt="student image" class="student-image">
      <div>
        <p><span class="info-label">First name:</span><span class="info-value">{{student.first_name}}</span></p>
        <p><span class="info-label">Last name:</span><span class="info-value">{{student.last_name }}</span></p>
        <p><span class="info-label">Username:</span><span class="info-value">{{ student.username }}</span></p>
      </div>
      <div>
        <p><span class="info-label">Course: </span><span class="info-value">{{ student.program }}</span></p>
        <p><span class="info-label">Course: </span><span class="info-value">{{ student.program }}</span></p>
        <p><span class="info-label">Email: </span><span class="info-value">{{ student.email }}</span></p>
      </div>
      <div>
        <p><span class="info-label">Fees: </span><span class="info-value">{{ student.program.fees }}</span></p>
        <p><span class="info-label">Paid:</span><span class="info-value">{{ student.paid }}</span></p>
        <p><span class="info-label">Balance: </span><span class="info-value">{{ student.bal }}</span></p>
      </div>
      <div class="student-btn">
        <a href="{% url 'edit_student' student.id %}"><button class="btn btn-detail">edit</button></a>
        <a href="{% url 'delete_student' student.id %}"><button class="btn btn-detail">delete</button></a>
        <a href="{% url 'student' %}"><button class="btn btn-detail">Back</button></a>
      </div>
    </div>
  </div>
{% endblock content %}
  
